@charset "UTF-8";
/* CSS Document */

/* Consignes générales */
/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('font/raleway-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('font/raleway-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('font/raleway-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('font/raleway-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('font/raleway-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('font/raleway-v18-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-600 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url('raleway-v18-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('font/raleway-v18-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('font/raleway-v18-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('font/raleway-v18-latin-600.woff') format('woff'), /* Modern Browsers */
       url('font/raleway-v18-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('font/raleway-v18-latin-600.svg#Raleway') format('svg'); /* Legacy iOS */
}

html
{
	font-family: Raleway, sans-serif;
	font-size: 16px;
	color:black;
	background-color: white;
}

.container
{
	width: 95%;
	max-width: 1400px;
	margin: auto;
}

a
{
	text-decoration: none;
	color: black;
	background-color: white;
	font-size: 1rem;
}

h1, h2
{
	font-weight: 600;
	font-size: 1.2rem; 
}

h3
{
	font-weight: 600;
	font-size: 1.1rem;
	margin:3px;
}
p
{
	font-size: 1rem;
}

ul
{
	list-style-type: none;
}

strong
{
	font-weight: bold;
}

@media screen and (orientation:portrait)
{
	.container
	{
		margin:0;
		width: 100%;
	}

	body
	{
		margin: 0;
	}
}

/* Consignes pour l'en-tête */

header
{
	padding: 0;
}

header div
{
	display: flex;
	justify-content: space-between;	
	flex-wrap: wrap;
}

header div img
{
	width: 150px;
	height: auto;
}

header ul
{
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
	padding:0;
}

header li
{
	padding: 20px;
	font-size: 1.2rem;
}

.hebergement
{
	border-top: 2px #0065FC solid;
	margin: 0;
}

.hebergement a
{
	color: #0065FC;
	background-color: white;
}

.inscription a
{
	color: #0065FC;
	background-color: white;
	font-weight: bold;
}

@media screen and (max-width:1024px) /* définit l'affichage pour les tablettes en orientation paysage*/
{
	header div
	{
		flex-direction: column;
	}

	header h1, header p
	{
		margin-left:3%;
	}

	header div img
	{
		margin: 3%;
	}

	header ul
	{
		width:100%;
		justify-content: center;
	}
	.hebergement
	{
		border-bottom: 2px #0065FC solid;
		border-top: 0px;
		text-align: center;
		min-width: 38%;
	}

	.activites
	{
		border-bottom: 2px #F2F2F2 solid;
		text-align: center;
		margin: 0;
		min-width: 38%;
	}

	.inscription
	{
		position: absolute;
		top: 24px;
		right: 20px;
	}
}

@media screen and (orientation:portrait) /* définit l'affichage pour tous les appareils en orientation portrait*/
{
	
	header div
	{
		flex-direction: column;
	}

	header h1, header p
	{
		margin-left:3%;
	}

	header ul
	{
		justify-content: center;
	}
	.hebergement
	{
		border-bottom: 2px #0065FC solid;
		border-top: 0px;
		text-align: center;
		min-width: 38%;
	}

	.activites
	{
		border-bottom: 2px #F2F2F2 solid;
		text-align: center;
		margin: 0;
		min-width: 38%;
	}

	.inscription
	{
		position: absolute;
		top: 24px;
		right: 20px;
	}
}

/* Consignes pour la partie formulaire de recherche */

form h2
{
	font-size: 1rem;
}

.saisie
{
	min-height: 30px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: nowrap;
}

.map
{
	display: inline-block;
	width: 50px;
	color: black;
	text-align: center;
	background-color: #F2F2F2;
	padding-left:5.9px;
	padding-right: 5.9px;
	padding-bottom: 3.9px;
	padding-top: 17px;
	font-size: 1rem;
	box-sizing: border-box;
	border-radius:12px 0 0 12px;
	margin: 0;
}

input
{
	display: inline-block;
	margin: 0;
	border-top: 2px #F2F2F2 solid;
	border-bottom: 2px #F2F2F2 solid;
	border-right: none;
	border-left: none;
	border-radius: 0;
	padding: 15px;
	font-size: 1rem;
	-webkit-appearance: none;
}

button
{
	color: white;
	background-color: #0065FC;
	border: none;
	border-radius: 0 12px 12px 0;
	padding: 5px;
	cursor: pointer;
	font-size: 1rem;
}

#search
{
	display: none;
}

.filtres
{
	display: flex;
	align-items: center;
}

.first
{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	margin:0;
	padding: 0;
} 

form ul li
{
	display: flex;
	align-items: center;
	white-space: nowrap;
	text-align: center;
	width: fit-content;
	margin: 20px;
	padding-right: 20px;
	font-size: 1rem;
	border-top: 2px #F2F2F2 solid;
	border-bottom: 2px #F2F2F2 solid;
	border-right: 2px #F2F2F2 solid;
	border-left: 0;
	border-radius: 30px;
}

form ul li:hover
{
	transform: scale(1.1);
	color: #0065FC;
	background-color: #DEEBFF;
}

form ul li::before 
{
    content: "";
	display: inline-block;
    height: 40px;
    width: 40px;
    margin-right: 20px;
	background-size: 20px 20px;
	color: #0065FC;
    background-color: #DEEBFF;
    background-repeat: no-repeat;
    background-position: center;
	border-radius: 50%;
}

.economique::before 
{
	background-image: url(icone/bill.svg);
}

.familial::before 
{
    background-image: url(icone/child.svg);
}

.romantique::before 
{
    background-image: url(icone/heart.svg);
}

.animaux::before 
{
    background-image: url(icone/dog.svg);
}

.info
{
	display: flex;
	align-items: center;
}

.info::before
{
	content: "";
	display: inline-block;
	width: 25px;
	height: 25px;
	border: 1px #F2F2F2 solid;
	background-image: url(icone/info.svg);
	background-size: 10px 10px;
	background-repeat: no-repeat;
	background-color: white;
	background-position: center;
	border-radius: 50% ;
	margin-right: 10px;
}

@media screen and (orientation:portrait) /* définit l'affichage pour tous les appareils en orientation portrait*/
{
	form
	{
		margin: 3%;
	}
	
	form ul li
	{
		margin-left:0;
	}

	input
	{
		min-height: 50px;
		min-width: 70%;
		font-size: 1.2rem;
	}

	button
	{
		min-width: 50px;
		border-radius: 12px 12px 12px 12px;	
		position: relative;
		right: 10px;
	}

	#search
	{
		display: inline;
		padding:3.9px;
		
	}

	.rechercher
	{
		display: none;
	}
	
	.filtres
	{
		flex-direction: column;
		align-items: flex-start;
	}

	.first
	{
		justify-content: flex-start;
		flex-wrap: wrap;
	}

	.first li
	{
		margin: 2%;
	}

}

/* Consignes pour les résultats d'hébergements */

#hebergement
{
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
}

#hebergement h2
{
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 8px;
}

#hebergement article p
{
	margin: 2px;
}

.star--plain
{
	color:#0065FC;
	background-color: white;
}

.star--empty
{
	color:#F2F2F2;
	background-color: white;
}

#hebergement section
{
	margin-right: 10px;
	padding: 5px;
	background-color: #F2F2F2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;		
}

#hebergement section div
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

#hebergement section article
{
	width: 239px;
	height:194px;
	padding:4px;
	border-radius: 15px;
	color: black;
	background-color: white;
	box-sizing: border-box;
	margin: 5px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#hebergement section article a
{
	min-width: 100%;
}

#hebergement section article h3, #hebergement section article p
{
	padding-left:5px;
	margin:2px;
}

#hebergement section article img
{
	display: block;
	width:230px;
	height: 108px;
	object-fit: cover;
	border-radius: 15px 15px 0 0;
	margin: auto;
	text-align: center;
}

.plus
{
	margin: 20px;
}

.plus a
{
	color: black;
	background-color: #F2F2F2;
}

aside
{
	margin-left: 10px;
	padding: 5px;
	color: black;
	background-color: #F2F2F2;	
	display: flex;
	flex-direction: column;
}

.populaires
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2%;
}

.populaires i
{
	height: 30px;
	margin-right: 20px;
	font-size: 1.3rem;
	line-height: 30px;
	text-align: center;
	padding:4%;
}

.articles
{
	display: flex;
	flex-direction: column;
}

aside article
{
	width: 347px;
	height:147px;
	padding:3px;
	margin:10px;
	color: black;
	background-color: #F2F2F2;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

aside article a
{
	min-width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-radius: 15px;
}

aside article img
{
	width:130px;
	height: 136px;
	object-fit: cover;
	border-radius: 15px 0 0 15px;
	margin: 6px;
	vertical-align: middle;
}

aside article div
{
	margin: 15px;
}

aside article p
{
	margin-top: 2px;
	margin-right: 2px;
	margin-left: 2px;
	margin-bottom: 20px;
}

aside article i
{
	margin-top: 30px;
}

@media screen and (orientation:portrait) /* définit l'affichage pour tous les appareils en orientation portrait*/
{
	#hebergement
	{
		flex-direction: column-reverse;
	}

	#hebergement section
	{
		background-color: white;
		color: black;
		margin: 0;
		padding: 0;
	}

	#hebergement section div
	{
		flex-direction: column;
		justify-content: space-around;
		align-content: center;
	}

	#hebergement section article
	{
		width:93%;
		max-width:400px;
		min-height: 210px;
		box-shadow: 3px 3px 15px #F2F2F2;
		margin: 3%;
	}
	
	#hebergement section article img
	{
		min-width:100%;
		min-height: 130px;
		padding: 5px;
		box-sizing: border-box;
	}

	.plus a
	{
		color: black;
		background-color: white;
	}

	aside
	{
		margin: 0;
		padding: 0;
	}

	aside :nth-child(2), aside :nth-child(3), aside :nth-child(4)
	{
		align-self: center;
	}

	.articles
	{
		margin-left: 3%;
		padding-bottom: 10%;
	}

	.articles article
	{
		width: 93%;
		margin: 3%;
		max-width: 400px;
	}

}

/* Consignes pour la partie activités */

#activites
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 2px;
}

.partie2 h2
{
	padding: 2%;
}

#activites article
{
	width:260px;
	height: auto;
	border-radius: 15px;
	box-shadow: 0 3px 2px #F2F2F2;
	margin: 5px;
}

#activites div
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#activites h3
{
	padding:10px;
	vertical-align: center;
}

#activites img
{
	border-radius: 15px 15px 0 0;
}

.port img
{
	width:260px;
	height:370px;
	object-fit: cover;
	overflow: hidden;
}

.fort img
{
	width:260px;
	height:160px;
	object-fit: cover;
	overflow: hidden;
}

.frioul img
{
	width:260px;
	height:90px;
	object-fit: cover;
	overflow: hidden;
}

.calanques img
{
	width:260px;
	height:370px;
	object-fit: cover;
	overflow: hidden;
}

.notre_dame img
{
	width:260px;
	height:120px;
	object-fit: cover;
	overflow: hidden;
}

.longchamp img
{
	width:260px;
	height:135px;
	object-fit: cover;
	overflow: hidden;
}

@media screen and (orientation:portrait) /* définit l'affichage pour tous les appareils en orientation portrait*/
{
	.partie2 h2
	{
		padding-left: 8%;
	}
	
	#activites
	{
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}

	#activites article
	{
		width: 93%;
		max-width: 400px;
		height: 150px;
		justify-content: space-between;
		margin-bottom: 3%;
	}

	#activites div
	{
		justify-content: space-between;
		align-items: center;
		min-width: 100%;
		
	}

	#activites div article
	{
		width: 93%;
		max-width: 400px;
		height: 150px;
		margin: 3%;
	}

	.fort img, .frioul img, .longchamp img, .notre_dame img, .port img, .calanques img
	{
		width: 100%;
		height:100px;
	}

}

@media screen and (max-width:1024px) and (orientation:landscape) /* définit l'affichage pour les tablettes et apareil en orientation paysage*/
{
	#activites
	{
		justify-content: space-around;
		padding: 2%;
	}
	
	#activites article, #activites div
	{
		min-width: 40%;
		min-height: 100px;
		justify-content: space-around;
	}

	.fort img, .frioul img, .longchamp img, .notre_dame img, .port img, .calanques img
	{
		min-width: 100%;
		min-height:75px;
	}

}


/* Consignes pour le pieds de page */

footer
{
	width: 100%;
	background-color: #F2F2F2;
	color: black;
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
	margin-right: 0;
	margin-left: 0;
	padding-right: 300px;
	box-sizing: border-box;
}

footer h2
{
	margin-left: 60px;
}

footer ul
{
	padding: 0;
	margin-left: 60px;
}

footer a 
{
	color: black;
	background-color: #F2F2F2;
}

@media screen and (orientation:portrait) /* définit l'affichage pour tous les appareils en orientation portrait*/
{
	footer
	{
		flex-direction: column;
		flex-basis: 100%;
		padding: 0;
	}

	footer h2
	{
		padding: 0;
	}

	footer nav
	{
		padding-left: 2%;
	}
}


